.breadcrumbs {
    padding-top: 6.3rem;
}
.breadcrumbs__list {
    display: flex;
    gap: 3.5rem;
}
.breadcrumbs__list-item {
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    color: #fff;
}
.breadcrumbs__list-item::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/home/breadcrumbs-arrows.svg') no-repeat;
    left: -28px;
    top: 3px;
}
.breadcrumbs__list-item:first-child:before{
    display: none;
}
.breadcrumbs__list-item:last-child{
    color: rgba(255, 255, 255, 0.65);
}
