html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 2.5rem;
	color: #000;
	line-height: normal;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 172.3rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.container-slider{
	max-width: 172.3rem;
	margin: 0 0 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.subtitle{
	margin-bottom: 1rem;
	color: rgba(0, 0, 0, 0.57);
	font-size: 3rem;
	font-weight: 500;
}
.title{
	position: relative;
	font-size: 3.5rem;
	font-weight: 500;
}
.title::before{
	position: absolute;
	content: '';
	width: 124px;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #3467CD;
}
.button{
	border-radius: 10px;
	background: #3467CD;
	color: #fff;
	text-align: center;
	border: none;
	font-size: 2rem;
	transition: all .4s ease-in;
}
.button:hover{
	transition: all .4s ease-in;
    background: #0f3174;
}
